<div
    class="modal"
    id="createCarModal"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create New Car</h4>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                ></button>
            </div>

            <div class="modal-body">
                <form
                    [formGroup]="vehicleForm"
                    (ngSubmit)="saveCar($event)"
                >
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label>Reg No</label>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Enter car reg no"
                                formControlName="regNo"
                            >
                            <div
                                *ngIf="regNo?.invalid && (regNo?.dirty || regNo?.touched)"
                                class="text-danger"
                            >
                                <div *ngIf="regNo?.hasError('required')">Registration number is required.</div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Brand</label>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Enter brand name"
                                formControlName="brand"
                            >
                            <div
                                *ngIf="brand?.invalid && (brand?.dirty || brand?.touched)"
                                class="text-danger"
                            >
                                <div *ngIf="brand?.hasError('required')">Brand is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label>Model</label>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Enter model name"
                                formControlName="model"
                            >
                            <div
                                *ngIf="model?.invalid && (model?.dirty || model?.touched)"
                                class="text-danger"
                            >
                                <div *ngIf="model?.hasError('required')">Model is required.</div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Year</label>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Enter year"
                                formControlName="year"
                            >
                            <div
                                *ngIf="year?.invalid && (year?.dirty || year?.touched)"
                                class="text-danger"
                            >
                                <div *ngIf="year?.hasError('required')">Year is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label>Color</label>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Enter color"
                                formControlName="color"
                            >
                            <div
                                *ngIf="color?.invalid && (color?.dirty || color?.touched)"
                                class="text-danger"
                            >
                                <div *ngIf="color?.hasError('required')">Color is required.</div>
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <label>Daily rate</label>
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Enter daily rate"
                                formControlName="dailyRate"
                            >
                            <div
                                *ngIf="dailyRate?.invalid && (dailyRate?.dirty || dailyRate?.touched)"
                                class="text-danger"
                            >
                                <div *ngIf="dailyRate?.hasError('required')">Daily rate is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 mb-3">
                        <label>Car Image URL</label>
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Enter car image URL"
                            formControlName="carImage"
                        >
                        <div
                            *ngIf="carImage?.invalid && (carImage?.dirty || carImage?.touched)"
                            class="text-danger"
                        >
                            <div *ngIf="carImage?.hasError('required')">Car image is required.</div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            (click)="resetForm()"
                        >
                            Reset form
                        </button>
                        <button
                            *ngIf="!selectedCar?.carId"
                            type="submit"
                            class="btn btn-success"
                            [disabled]="vehicleForm.invalid"
                        >
                            Save car
                        </button>
                        <button
                            *ngIf="selectedCar?.carId"
                            type="submit"
                            class="btn btn-primary"
                            [disabled]="vehicleForm.invalid"
                        >
                            Update car
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
