<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-3">
    <a
        class="navbar-brand"
        routerLink="/dashboard"
    >
        Car Rental App
    </a>

    <div class="container-fluid">
        <div
            class="collapse navbar-collapse"
            id="myNavbar"
        >
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/vehicles"
                    >
                        Vehicles
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/customer"
                    >
                        Customer
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/dataBinding"
                    >
                        Pricing
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/dataBinding"
                    >
                        About
                    </a>
                </li>
            </ul>
        </div>
        <div class="d-flex gap-5">
            <form
                class="d-flex"
                (ngSubmit)="onSearchItemChange()"
            >
                <input
                    class="form-control"
                    type="search"
                    placeholder="Search"
                    name="searchBar"
                    aria-label="Search"
                    [(ngModel)]="searchItem"
                >
                <button
                    class="btn btn-outline-success my-2 my-sm-0"
                    type="submit"
                >
                    Search
                </button>
            </form>
            <button
                class="btn btn-outline-light"
                type="button"
                (click)="this.loginService.logout()"
            >
                Log Out
            </button>
        </div>

    </div>
</nav>

<div class="p-3">
    <router-outlet></router-outlet>
</div>
