<div class="row">
    <p *ngIf="customerList.isLoading()">Loading customers...</p>
    <p *ngIf="!customerList.isLoading() && !customerList.value()?.data?.length;">No results found.</p>

    <div class="col-12" *ngIf="customerList.value()?.data?.length">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Mobile</th>
                    <th>Email</th>
                </tr>
            </thead>

            <tbody>
                <ng-container>
                    @for (customer of customerList.value()?.data; track $index) {
                        <tr>
                            <td>{{$index + 1}}</td>
                            <td>{{customer.customerName}}</td>
                            <td>{{customer.customerCity}}</td>
                            <td>{{customer.mobileNo}}</td>
                            <td>{{customer.email}}</td>
                        </tr>
                    }
                </ng-container>
                
            </tbody>
        </table>
    </div>
</div>
